'typography-fontfamily-hero': "Inria Serif";
'typography-fontsize-base': 15px;
'typography-fontsize-xs': 11px;
'typography-fontsize-2xl': 22px;
'typography-fontfamily-base': "Inter";
'typography-fontsize-xl': 19px;
'colors-primary-500': #ff5492;
'colors-header-500': #ffc9e1;
'colors-primary-400': #fdeef5;
'colors-header-400': #f2ebeb;
'typography-fontfamily-header': "Kaisei Tokumin";
'typography-lineheight-list': 30px;
'typography-fontsize-3xl': 26px;
